
@font-face {
  font-family: 'Segoe UI Web';
  src: url('../../fonts/segoeui-light.woff2') format('woff2'), url('../../fonts/segoeui-light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web';
  src: url('../../fonts/segoeui-semilight.woff2') format('woff2'), url('../../fonts/segoeui-semilight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web';
  src: url('../../fonts/segoeui-regular.woff2') format('woff2'), url('../../fonts/segoeui-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web';
  src: url('../../fonts/segoeui-semibold.woff2') format('woff2'), url('../../fonts/segoeui-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}